*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

.header{
	width: 100%;
	padding: 0 2%;
	height: 60px;
	background-color: #212343;
}

.header img{
	margin: 20px;
}

.banner{
	width: 100%;
	padding: 0 2%;
	height:557px;
	background-image:url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}

.banner > .center{
	height: 100%;
}

.form{
	padding: 20px;
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top: -15px;
	border: 8px solid #ccc;
	background-color: white;
}

.form h2{
	text-align: center;
	color: gray;
	font-size: 20px;
	font-family: 'Open Sans';
}

.input-container{
	margin-top: 20px;
}

.input-container span, .form p{
	display: inline-block;
	width: 100%;
	font-size: 17px;
	color: #bbbbbb;
}

.form p{
	margin: 20px 0;
}

.input-container input[type=text]{
	margin-top: 8px;
	width: 344px;
	height: 55px;
	padding: 8px 10px;
	border: 1px solid #ccc;
}

.input-container input[type=text]:focus{	
	outline: none;
}


.form .input-type-submit{
	text-align: center;
}

.form input[type=submit]{
	color: white;
	font-size: 25px;
	width: 280px;
	height: 56px;
	display: inline-block;
	background-color: #363a6d;
	cursor: pointer;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #4a5097;
}

.form input[type=submit]:hover{
	background-color: #323665;
}

.container-list{
	padding: 20px;
	margin-top: 100px;
	float: left;
	width: 519px;
	height: 270px;
	background-color: rgba(33,35,67,0.7);
}

.container-list ul{
	list-style-position: inside;
}

.container-list ul li{
	margin-top: 22px;
	color: white;
}

.container2{
	text-align: center;
	padding: 40px 2%;
	background-color: #ddd;
}

.container2 h2{
	font-weight: normal;
}

.container2 p{
	margin: 15px 0;
	width: 100%;
	max-width: 768px;
	display: inline-block;
	text-align: justify;
}

.arrow {
	position: relative;
	top: 60px;
	left: 50%;
	margin-left: -20px;
	text-align: center;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
 }

 .section1{
 	padding: 90px 2%;
 }

 .section1 h2{
 	text-align: center;
 	color: #462663;
 	font-weight: normal;
 }

 .container-section{
 	text-align: center;
 	margin-top: 40px;
 }

.container-single{
	float: left;
	width: 33.3%;
	padding: 30px;
}

.container-single:last-child{
	margin-right: 0;
}

.container-single p{
	text-align: justify;
	padding: 10px 25px;
}

.container-single img{
	width: 70px;
}

.footer{
	padding: 20px 0;
	border-top: 2px solid #888888;
	text-align: center;
	color: #888888;
}

.footer p{
	margin-top: 8px;
}


@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}

	.header img{
		margin: 0;
	}

	.container-list{
		display: inline-block;
		padding: 20px;
		float: left;
		width: 40%;
		height: auto;
		max-width: 500px;
	}

	.banner{
		width: 100%;
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}

	.form{
		max-width: 400px;
		padding: 10px;
		width: 60%;
		height: 100%;
		float: right;
		top: 0;
	}

	.input-container input[type=text]{
		width: 100%;
		height: 55px;
	}

	.form input[type=submit]{
		max-width: 280px;
		height: 56px;
		width: 100%;
	}

	.form input[type=submit]:hover{
		background-color: #323665;
	}
}


@media screen and (max-width: 768px){
	.container2{
		padding-right: 4%;
		padding-left: 4%;
	}

	.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	.form{
		margin-top: 30px;
		float: none;
		display: inline-block;
		width: 90%;
	}

	.container-single{
		float: none;
		width: 100%;
		padding: 30px 0;
		display: inline-block;
}